<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dish list</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/dishesStyles.css}" />
</head>
<body>

<nav class="navbar navbar-expand-lg  shadow-sm p-3 mb-5 rounded">
    <div class="background container">
        <ul class="navbar-nav mr-auto">
            <div sec:authorize="!isAuthenticated()">
            <li class="nav-item">
<a  class="btn btn-outline-success" href="#" th:href="@{ '/logged'}">logIn</a>
            </li>
            </div>
            <div sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <form  th:action="@{ '/logout'}" method="post">
                     <button type="submit" class="btn btn-outline-warning">Logout</button>
                </form>
            </div>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item ml-5">
                    <a  class="btn btn-outline-success" href="#" th:href="@{ '/dashboard'}">Dashboard</a>
                </li>
            </div>
            <li class="nav-item ml-5">
                <a class="btn btn-info" href="#" th:href="@{ '/orders/summary'}">Shopping bag</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
<div id="cookieContainer" class="alert alert-warning alert-dismissible fade show" role="alert">
     We use <strong>cookies</strong>. Click on the X button if you agree with that otherwise you cannot use this site
    <button id="closebutton1" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            if (Boolean(readCookie('cookieInfo1'))) {
                $('#cookieContainer').hide();
            }
            $("#closebutton1").click(function (e) {

                $('#cookieContainer').hide();
                e.stopPropagation();

                createCookie('cookieInfo1', true, 1)
                return false;
            });

            function createCookie(name, value, days) {
                var expires;
                if (days == 1) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 ));
                    expires = "; expires=" + date.toGMTString();
                }
                else expires = "";
                document.cookie = name + "=" + value + "; expires=" + expires;
            }

            function readCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return false;
            }



        });

    </script>


<div class="container">
    <div class="card border-0 shadow my-5">
    <table class="table">
        <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Only dough price!</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="dish: ${dishes}">
        <td  th:text="${dish.id}"></td>
        <td th:text="${dish.name}+' '+(  (${dish.size} <= 1)? 'Small' : 'Big' )"></td>
        <td th:text="${dish.description}"></td>
        <td th:text="${dish.cost}+' €'"></td>
        <td><a href="#" th:href="@{ '/orders/dishes/'+${dish.id}+'/new'}">Add to cart</a></td>
    </tr>
    </tbody>
</table>

        <h2>Drinks</h2>
        <h2> </h2>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="drink: ${drinks}">
                <td  th:text="${drink.id}"></td>
                <td th:text="${drink.name}+' '+(  (${drink.size} <= 1)? 'Small' : 'Big' )"></td>
                <td th:text="${drink.cost}+' €'"></td>
                <td><a href="#" th:href="@{ '/orders/dishes/'+${drink.id}+'/new'}">Add to cart</a></td>
            </tr>
            </tbody>
        </table>







        <a href="#" th:href="@{ '/policy'}">personal data security</a>
    </div>

</div>
</body>
</html>