<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Policy</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg  shadow-sm p-3 mb-5  rounded">
    <div class="background container">
        <ul class="navbar-nav mr-auto">
            <div sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a  class="btn btn-outline-success" href="#" th:href="@{ '/logged'}">logIn</a>
                </li>
            </div>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <form  th:action="@{ '/logout'}" method="post">
                        <button type="submit" class="btn btn-outline-warning">Logout</button>
                    </form>
                </li>
            </div>

            <li class="background nav-item  ml-5">
                <a class="btn btn-success" href="#" th:href="@{'/orders/dishes/new'}">Back to shopping</a>
            </li>
            <li class="nav-item ml-5">
                <a class="btn btn-info" href="#" th:href="@{ '/orders/summary'}">Shopping bag</a>
            </li>
        </ul>
    </div>
</nav>

<p>


   <h2> 1. Zasady przetwarzania danych </h2>
    Spis treści	<br />
    1.1. Administratorzy danych osobowych.	<br />
    1.2. Kontakt.	<br />
    1.3. Priorytet ochrony danych osobowych.	<br />
    1.4. Kontakt z Inspektorem Ochrony Danych?	<br />
    1.5. Prowadzenie i obsługa konta użytkownika.	<br />
    1.6. Składanie Zamówień.	<br />
    1.7. W jakim celu przetwarzane są dane osobowe?	<br />
    1.8. Twoje decyzje.	<br />
    1.9. Linki do innych stron i mediów społecznościowych	<br />
    1.10. Zmiany naszej polityki ochrony prywatności    <br />
    1.11 Prawa związane z przetwarzaniem danych osobowych	<br />
    1.12. Cele przetwarzania Twoich danych osobowych oraz podstawa prawna przetwarzania<br />
    1.13. Jak korzystamy z plików cookie	<br />


<h2> 1.1. Administratorzy danych osobowych. </h2>
    Zasady przetwarzania danych osobowych przy korzystaniu z aplikacji wykonanej na potrzeby pracy inżynierskiej przez Cezarego Czekalskiego pt. “System obsługi sieci pizzerii”

    Administratorem twoich danych osobowych są osoby wykorzystujące aplikację Cezarego Czekalskiego, jako osoby świadczące usługi dotyczące aplikacji. Na aplikację składa się “web serwis” napisany w języku Java z użyciem frameworka Spring, serwer uwierzytelniający “KeyCloak”, a same dane są trzymane w bazach danych osobno dla serwera uwierzytelniającego i web serwisu.
<h2>   1.2. Kontakt.</h2>
    Jeżeli chciałbyś się skontaktować z twórcą, wystarczy, że napiszesz mail na adres cezaryczekalski@gmail.com
    <h2>    1.3. Priorytet ochrony danych osobowych.</h2>
    Administratorzy przywiązują dużą wagę do ochrony prywatności osób korzystających z aplikacji i ich danych osobowych. Przetwarzając dane osobowe dbają o to, aby były one bezpieczne.
    Wiele z restauracji jest prowadzonych przez franczyzobiorców będących niezależnymi przedsiębiorcami. Niniejsza polityka ochrony prywatności nie dotyczy franczyzobiorców lub prowadzonych przez nich witryn internetowych bądź aplikacji mobilnych, które oferują. Aby zapoznać się z zasadami wykorzystania danych osobowych Gości przez tych franczyzobiorców, należy zapoznać się z ich indywidualnymi politykami ochrony prywatności.
        <h2>   1.4. Kontakt z Inspektorem Ochrony Danych?</h2>
    Osoby które wykorzystują tę aplikację jako strona świadcząca usługi muszą wyznaczyć Inspektora Ochrony Danych, z którym można się kontaktować we wszelkich sprawach związanych z przetwarzaniem przez nich danych osobowych oraz w celu skorzystania z praw związanych z przetwarzaniem danych osobowych.
    Ochrona prywatności dzieci
    W przypadku usług społeczeństwa informacyjnego (np. usług online czy aplikacji mobilnych), oferowanych dzieciom w wieku do lat 16, jeżeli podstawą przetwarzania danych jest zgoda użytkownika, będziemy przetwarzali dane osobowe dziecka jedynie pod warunkiem, że zgoda została wyrażona lub potwierdzona przez osobę sprawującą władzę rodzicielską nad dzieckiem i tylko w zakresie zaaprobowanym przez opiekuna prawnego.

            <h2>    1.5. Prowadzenie i obsługa konta użytkownika.</h2>
    Abyśmy mogli świadczyć nasze usługi (np. rejestrację w serwisie) lub zrealizować Twoje zamówienie (czyli zawrzeć z Tobą umowę i wywiązać się z niej), podanie przez Ciebie danych osobowych jest w wielu przypadkach konieczne.W celu wykonania umowy dotyczącej Twojego udziału w aplikacji, będziemy przetwarzać Twoje dane osobowe podane przez Ciebie w formularzu rejestracyjnym. Jeśli nie podasz nam swoich danych, to niestety najczęściej nie będziemy mogli zrealizować dla Ciebie usług ani przyjąć Twojego zamówienia. Podstawą prawną przetwarzania przez nas ww. danych jest niezbędność do wykonania umowy dotyczącej konta użytkownika lub programu oraz podjęcia działań na Twoje żądanie (art. 6 ust. 1 pkt b) RODO).<br />
    1. Rejestracja Konta dokonywana jest online, poprzez wypełnienie formularza rejestracyjnego dostępnego w Serwisie WWW w zakładce „signIn”.<br />
    2. Formularz rejestracyjny zawiera wyraźnie oznaczone pola, których wypełnienie jest obowiązkowe.<br />
    3. W formularzu rejestracyjnym Użytkownik podaje swoje dane osobowe niezbędne dla kontaktu z Użytkownikiem oraz założenia i utrzymania Konta.<br />
    4. Po wypełnieniu i przesłaniu formularza rejestracyjnego przez Użytkownika Usługodawca, na podany przez Użytkownika adres poczty elektronicznej, przesyła potwierdzenie dokonania rejestracji i utworzenia Konta. Konto staje się aktywne po kliknięciu przez Użytkownika na odpowiednio oznaczony link aktywacyjny, zawarty w przesłanej przez Usługodawcę wiadomości e-mail.<br />
    5. Dostęp do Konta możliwy jest po podaniu przez Użytkownika wybranego przez niego przy rejestracji loginu i hasła. Login i hasło mają charakter poufny. Usługodawca informuje, że udostępnianie przez Użytkownika loginu i hasła osobom trzecim może wiązać się z zagrożeniem dla prywatności lub innych prawnie chronionych interesów Użytkownika.<br />
    6. Usługodawca informuje, że Konto umożliwia również korzystanie z usług związanych z zamawianiem na odległość środków spożywczych, napojów lub innych artykułów dostępnych w innych niż w restauracjach prowadzonych przez Usługodawcę, dla których Usługodawca zapewnia możliwość składania zamówień na odległość za pomocą odrębnych serwisów internetowych lub narzędzi teleinformatycznych. Oznacza to, że Konto jest ważne również w ramach Odrębnych Usług Zamawiania Posiłków, świadczonych przez Usługodawcę, zaś Użytkownik, który założył Konto za pośrednictwem Serwisu WWW na zasadach określonych w niniejszym Regulaminie nie musi zakładać konta w ramach takich Odrębnych Usług Zamawiania Posiłków i może zalogować się do takich usług za pomocą danych dostępowych do Konta opisanego w niniejszym Regulaminie.<br />
    8. Użytkownik, który posiada aktywne konto w Odrębnej Usłudze Zamawiania Posiłków świadczonej przez Usługodawcę, dla celów niniejszego Regulaminu traktowany jest jak Użytkownik posiadający Konto. Oznacza to, że Użytkownik taki może zalogować się do Konta w Serwisie WWW za pomocą swojego loginu i hasła ustalonego w związku z założeniem konta (rejestracją) w ramach ww. Odrębnej Usługi Zamawiania Posiłków.<br />
    9. Odrębne Usługi Zamawiania Posiłków obejmują restauracje<br />

                <h2>  1.6. Składanie Zamówień.</h2>
 1. Zamówienia są realizowane okolicznych obszarach poszczególnych Restauracji.
    Informacje o możliwości realizacji dostawy pod wskazany przez Użytkownika adres i Restauracji, realizującej dostawę, dostępne są w Serwisie WWW i Aplikacji na początku składania Zamówienia. Sprawdzenie możliwości realizacji Zamówienia przez właściwą Restaurację następuje automatycznie. W wypadku braku możliwości realizacji Zamówienia dla wpisanego adresu Użytkownik zostanie o tym fakcie poinformowany komunikatem.

<br />   2. Zapłata za Zamówienie może być, wedle wyboru Użytkownika, dokonana przy odbiorze – gotówką, kartą płatniczą VISA lub Master Card

<br />   3. Zamówienia mogą składać zarówno Użytkownicy posiadający Konto, jak i nieposiadający Konta. W celu złożenia Zamówienia przez Użytkownika nieposiadającego Konta, Użytkownik taki powinien kolejno:
<br />  4. wybrać typ Zamówienia w Serwisie WWW lub Aplikacji;
<br />  5. wypełnić następujące pola w formularzu Zamówienia: miejscowość, ulica i numer budynku, telefon komórkowy;
<br />   6. wybrać zamawiane produkty oferowane przez Restauracje w Serwisie WWW przez ich zaznaczenie, wybranie liczby sztuk, ilości lub wielkości danego produktu oraz dokonanie ewentualnych modyfikacji danego produktu, o ile możliwość taka została zapewniona dla danego produktu;
<br />   7. dokonać wyboru metody płatności;
<br />  8. zaakceptować Zamówienie za pomocą przycisku potwierdzającego zamówienie.
<br />  9. Po wykonaniu wszystkich kroków odpowiednio z opisanych powyżej Zamówienie zostaje przyjęte do realizacji.
<br />  10. Usługodawca zastrzega sobie prawo do telefonicznego potwierdzenia faktu złożenia Zamówienia przy pomocy numeru telefonu podanego przez Użytkownika przy składaniu Zamówienia lub przy zakładaniu Konta.
<br />   11. Zamówienia mogą być składane przez Użytkowników działających w imieniu innych podmiotów, w tym osób prawnych i jednostek organizacyjnych nieposiadających osobowości prawnej.
<br />   12. Użytkownik może po złożeniu Zamówienia otrzymać fakturę VAT obejmującą dane Zamówienie.
                    <h2>    1.7. W jakim celu przetwarzane są dane osobowe?</h2>
    Serwis – dbamy o to, aby serwis funkcjonował zgodnie z jego regulaminem a także możesz mieć z nami bieżący kontakt.
    Realizujemy sprzedaż – jeżeli dokonasz zakupu w naszym portalu internetowym; dzięki temu, że podajesz nam swoje dane osobowe możemy otrzymać płatność, dostarczyć Ci towar, wystawić dokumenty sprzedażowe, zrealizować dodatkowe usługi, rozliczyć te usługi (np. prośba o przekazanie opinii), jak również umożliwić Ci skorzystanie z gwarancji oraz rękojmi, a także z prawa do odstąpienia od umowy.
    Prowadzimy marketing – chcemy promować nasze produkty i usługi oraz prezentować na naszej stronie oferty oraz promocje. Aby było to możliwe, możemy dokonywać profilowania, które jednak w żadnym przypadku ma wpływu na Twoje prawa lub wolności ani w inny podobny sposób na Ciebie nie wpływa. Dodatkowo, będziemy wykorzystywać Twój adres e-mail oraz numer telefonu w celu komunikowania oferty handlowej.
                        <h2>    1.8. Twoje decyzje.</h2>
    Informacje marketingowe
    Jeżeli wyraziłeś/wyraziłaś zgodę na otrzymywanie od nas informacji marketingowych, możesz ją następnie odwołać wybierając opcję rezygnacji znajdującą się w każdej wysyłanej przez nas informacji tego typu. Generalnie w Twoim profilu usług online, w preferencjach komunikacyjnych, znajdują się instrukcje dotyczące rezygnacji z otrzymywania informacji marketingowych. Zmiana preferencji komunikacyjnych może być również możliwa w ustawieniach Twojego urządzenia mobilnego. Możesz także zrezygnować z otrzymywania informacji kontaktując się z naszym Globalnym lub Krajowym Biurem Ochrony Prywatności (dane kontaktowe poniżej). W przypadku kontaktu z Krajowym Biurem Ochrony Prywatności prosimy wybrać Biuro właściwe dla Twojego kraju.
    Mimo, że zrezygnujesz z otrzymywania od nas informacji marketingowych, możemy nadal wysyłać do Ciebie komunikaty dotyczące transakcji, założonych u nas kont oraz konkursów, losowań nagród lub loterii, w których bierzesz udział. Rezygnacja z jednej formy komunikacji nie oznacza rezygnacji z innych form komunikacji. Dla przykładu, mimo rezygnacji z otrzymywania e-maili marketingowych, może nadal otrzymywać SMS-y marketingowe – o ile wyrazisz wcześniej chęć ich otrzymywania. Pamiętaj także, że w przypadku otrzymywania wiadomości od restauracji działającej na zasadach franczyzy, rezygnacji należy dokonać bezpośrednio u franczyzobiorcy.
    Bez Twojej zgody nie ujawniamy Twoich danych osobowych osobom trzecim w ich własnych celach marketingowych. Przekażemy Twoje dane osobowe w sposób określony przez Ciebie, wtedy gdy powiadomimy Cię i otrzymamy Twoją zgodę.
    Twoje prawa
    W pewnych państwach, osoby fizyczne mają prawo żądania dostępu, poprawiania, przenoszenia, ograniczania, usuwania i wnoszenia sprzeciwu wobec przetwarzania zgromadzonych przez nas danych osobowych. W państwa tych osoby fizyczne mają również prawo odwołania swojej zgody na przetwarzanie danych osobowych.


                            <h2>   1.9. Linki do innych stron i mediów społecznościowych</h2>
    Nasze usługi online mogą zawierać linki do witryn internetowych, które nie są prowadzone przez nas, lecz przez osoby trzecie. W przypadku wejścia na stronę z linka, powinieneś/powinnaś zapoznać się z polityką ochrony prywatności danej witryny, warunkami korzystania z niej oraz innymi obowiązującymi politykami i zasadami. Nie ponosimy odpowiedzialności za zasady obowiązujące i praktyki stosowane przez osoby trzecie. Do wszelkich informacji, które przekazujesz tym podmiotom, stosują się przyjęte przez nie polityki ochrony prywatności, warunki korzystania z witryny oraz inne zasady.
    Nasze usługi online mogą również zawierać aplikacje, narzędzia, elementy kontrolne ( widgets) oraz wtyczki innych podmiotów, takie jak np. przyciski polubienia Facebooka, które również mogą wykorzystywać zautomatyzowane metody pozyskiwania informacji na temat korzystania przez Ciebie z tych funkcjonalności. Podmioty te mogą wykorzystywać informacje o Tobie zgodnie z własnymi politykami i zasadami.


                                <h2>  1.10. Zmiany naszej polityki ochrony prywatności</h2>
    Niniejsza polityka ochrony prywatności obowiązuje od dnia podanego na jej wstępie. Co jakiś czas możemy wprowadzać do niej zmiany. W takim przypadku zamieścimy tutaj zmienioną wersję polityki ochrony prywatności, aktualizując odpowiednio datę wskazaną na jej wstępie jako „Ostatnia aktualizacja” (dzień wejścia w życie). Zaglądaj tutaj regularnie, aby znać najbardziej aktualną wersję naszej polityki.
                                    <h2>   1.11 Prawa związane z przetwarzaniem danych osobowych</h2>
    Przysługują Ci następujące prawa związane z przetwarzaniem danych osobowych:
    prawo wycofania zgody na przetwarzanie danych,
    prawo dostępu do Twoich danych osobowych,
    prawo żądania sprostowania Twoich danych osobowych,
    prawo żądania usunięcia Twoich danych osobowych,
    prawo żądania ograniczenia przetwarzania Twoich danych osobowych,
    prawo do przenoszenia Twoich danych osobowych, tj. prawo otrzymania od nas Twoich danych osobowych, w ustrukturyzowanym, powszechnie używanym formacie informatycznym nadającym się do odczytu maszynowego. Możesz przesłać te dane innemu administratorowi danych lub zażądać, abyśmy przesłali Twoje dane do innego administratora. Jednakże zrobimy to tylko jeśli takie przesłanie jest technicznie możliwe. Prawo do przenoszenia danych osobowych przysługuje Ci tylko co do tych danych, które przetwarzamy na podstawie umowy z Tobą lub na podstawie Twojej zgody.

    Aby skorzystać z powyższych praw, skontaktuj się z nami lub z naszym inspektorem ochrony danych (dane kontaktowe w punktach 1 i 2 powyżej).
    Prawo wycofania zgody
    W zakresie, w jakim Twoje dane są przetwarzane na podstawie zgody – masz prawo jej wycofania w dowolnym momencie. Wycofanie zgody nie ma wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie Twojej zgody przed jej wycofaniem. Zgodę możesz wycofać kontaktując się z nami lub z naszym inspektorem ochrony danych (dane kontaktowe w punktach 1 i 2 powyżej).
    Prawo wniesienia skargi do organu
    Przysługuje Ci także prawo wniesienia skargi do organu nadzorczego zajmującego się ochroną danych osobowych, tj. Prezesa Urzędu Ochrony Danych Osobowych.
                                        <h2>   1.12. Cele przetwarzania Twoich danych osobowych oraz podstawa prawna przetwarzania</h2>
Przetwarzanie danych osobowych zostanie wykonane ze względu na potrzeby osób używających web serwisu jako osoby świadczące usługi, który polega na umożliwieniu wykonania umowy zawartej przez restauracje Twoim pracodawcą / zleceniodawcą;
rozpatrywać reklamacje oraz bronić się przed ewentualnymi roszczeniami lub dochodzić ewentualnych roszczeń związanych z umową – podstawą prawną przetwarzania danych jest nasz prawnie uzasadniony interes polegający na możliwości obrony przed roszczeniami lub dochodzenia roszczeń.
Okres przechowywania Twoich danych osobowych
Przetwarzanie danych osobowych będzie wykonane w okresie wykonywania ww. umowy, a także przez okres przedawnienia roszczeń z umowy.
Odbiorcy Twoich danych osobowych
Dane osobowe zostaną przekazane:
naszym dostawcom, którym zlecimy usługi związane z przetwarzaniem danych osobowych, np.: dostawcom usług IT, podmiotom przeprowadzającym w naszym imieniu weryfikację kontrahentów, dostawcom usług komplementarnych względem przedmiotu ww. umowy. Takie podmioty przetwarzają dane na podstawie umowy z nami i tylko zgodnie z naszymi poleceniami.
Pliki cookie i inne technologie monitorujące: Definicja
Plik „cookie” jest plikiem tekstowym, który witryna internetowa wysyła do komputera odwiedzającego lub innego urządzenia połączonego z Internetem, aby zidentyfikować przeglądarkę odwiedzającego bądź aby zapisać informacje lub ustawienia w przeglądarce. Plik cookie zwykle zawiera nazwę domeny, z której został wysłany, „żywotność” pliku cookie oraz losowo wygenerowaną unikatową cyfrę lub inną zmienną.

Możemy wykorzystywać inne technologie, w tym sygnalizatory sieciowe ( web beacons) i JavaScript, które w niektórych przypadkach współpracują wraz z plikami cookie i innymi środkami z naszymi Witrynami i Aplikacjami Mobilnymi, aby umożliwić identyfikację Twojego urządzenia. Te inne technologie pozwalają uaktywnić określone funkcje na naszych Witrynach i Aplikacjach Mobilnych. Możemy także korzystać z określonych technologii w celu określenia, czy otworzyłeś/otworzyłaś wiadomość e-mail lub kliknąłeś/kliknęłaś na link w niej umieszczony.

                                            <h2>  1.13. Jak korzystamy z plików cookie </h2>
    W czasie korzystania z naszych usług sieciowych, zarówno my, jak i inne podmioty (takie jak nasze sieci reklamowe) mogą pozyskiwać informacje o użytkownikach na temat korzystania przez nich z sieci, korzystania z sieci w czasie oraz korzystania z witryn prowadzonych przez osoby trzecie. Są różne cele korzystania przez nas z plików cookie. Przykładowo prowadzimy monitoring łącznej liczby odwiedzających nasze Witryny i korzystających z naszych Aplikacji Mobilnych – na zasadach anonimowych i zagregowanych. Możemy także stosować pliki cookie, aby móc Ciebie zapamiętać w przypadku powtórnej wizyty na Witrynach, aby prowadzić obsługę konkursów i losowań oraz w celu personalizacji Twojego doświadczenia na Witrynach restauracji. W tej sytuacji z plikiem cookie mogą zostać powiązane pewne dane osobowe.

    Technologie monitorujące mogą mieć charakter trwały (tj. pliki pozostają na Twoim komputerze lub urządzeniu aż do czasu, gdy je wykasujesz) lub sesyjny (tj. pliki pozostają wyłącznie do czasu zamknięcia przeglądarki).
    Nasze Witryny i Aplikacje Mobilne korzystają w szczególności z następujących rodzajów plików cookie:
    Absolutnie niezbędne pliki cookie. Są to pliki cookie, które są niezbędne do świadczenia usług i zapewnienia dostępności funkcjonalności, o które wyraźnie prosisz. Możemy korzystać z plików cookie i technologii monitorujących w celu zapobiegania nadużyciom, poprawy bezpieczeństwa, administracji systemem lub umożliwienia Tobie korzystania z funkcji obsługi płatności. Nie mamy obowiązku uzyskać Twojej zgody w związku z plikami cookie, które są absolutnie niezbędne.
    Pliki cookie służące do analizy oraz oceny wydajności. Pliki cookie możemy wykorzystywać w celu oceny wydajności naszych Witryn i Aplikacji Mobilnych, w tym w ramach działań analitycznych mających na celu podniesienie jakości treści oferowanych za pośrednictwem Witryn i Aplikacji Mobilnych.
    Reklamowe pliki cookie. My sami oraz zewnętrzni reklamodawcy możemy korzystać z plików cookie, aby móc zaprezentować Tobie najlepiej dopasowane produkty, oferty oraz reklamy. Reklamowe pliki cookie pozwalają nam także przedstawić na Witrynach oraz Aplikacjach Mobilnych treści, które są dostosowane do Ciebie i Twoich indywidualnych zainteresowań.
    Ustawienia i usuwanie plików cookie
    W ustawieniach Twojej przeglądarki internetowej możesz zablokować otrzymywanie plików cookie lub ustawić ją tak, że za każdym razem, kiedy otrzymasz plik cookie zostaniesz o tym poinformowany/poinformowana. Całkowite zablokowanie plików cookie może uniemożliwić korzystanie z portalu.


</p>


</body>
</html>