
body {
    background: url('/images/424516.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



.background {
    background: rgba(255,255,255,0.0);
}

.navbar {
    background: rgba(255,255,255,0.8);
}


.nav-item{
    background: rgba(255,255,255,0.0);
}