<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dish form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</head>
<body>



    <form th:object="${dish}" th:action="@{'/dish/new'}" method="post">

<div class="container">
        <h1>New dish design</h1>
    <table>

            <input type="hidden" th:field="*{id}"/>

            <tr>
                <td>Dish name:</td>
                <td> <input type="text" th:field="*{name}"> </td>
            </tr>
            <tr>
                <td>Dish cost:</td>
                <td> <input type="number"  step="0.01" th:field="*{cost}"> </td>
            </tr>
            <tr>
                <td>Dish size:</td>
                <td> <input type="number"  step="0.01" th:field="*{size}"> </td>
            </tr>
    </table>
            <td><a href="#" class="btn btn-info" th:href="@{ '/ingredients/new'}">Add new ingredient</a></td>
</div>
        <div class="container">
        <h2>Ingredients:</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Cost</th>
                <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ingredient,stat: ${dish.ingredientCommands}">
                <td th:text="${ingredient.id}"></td>
                <input type="hidden"  th:field="*{ingredientCommands[__${stat.index}__].id}"/>
                <td th:text="${ingredient.name}"></td>
                <input type="hidden"  th:field="*{ingredientCommands[__${stat.index}__].name}"/>
                <td th:text="${ingredient.cost}+' €'"></td>
                <input type="hidden"  th:field="*{ingredientCommands[__${stat.index}__].cost}"/>

                <td> <input type="number"  th:field="*{ingredientCommands[__${stat.index}__].quantity}"/></td>
            </tr>
            </tbody>
        </table>

            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>


</body>
</html>