<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dish show</title>
</head>
<body>



<div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>cost</th>
            <th>size</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${dish.id}"></td>
            <td th:text="${dish.name}+' '+(  (${dish.size} <= 1)? 'Small' : 'Big' )"></td>
            <td th:text="${dish.cost}"></td>
            <td th:text="${dish.size}"></td>
            <td><a href="#" th:href="@{ '/dish/'+ ${dish.id}+'/update'}">Update</a></td>
            <td><a href="#" th:href="@{ '/dish/'+ ${dish.id}+'/delete'}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>cost</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ingredient: ${dish.ingredientCommands}">
        <td th:text="${ingredient.id}"></td>
        <td th:text="${ingredient.name}"></td>
        <td th:text="${ingredient.cost}"></td>
    </tr>
    </tbody>
</table>
    <a href="#" >Ingredients update</a>
</div>


</body>
</html>