<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New ingredient design</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
<h1>New ingredient design</h1>
<div>
<form th:object="${ingredient}" th:action="@{'/ingredients/new'}" method="post">
    <fieldset>
        <legend>Ingredient:</legend>
        <table>
    <input type="hidden" th:field="*{id}"/>

    <tr>
         <td>Ingredient name:</td>
        <td> <input type="text" th:field="*{name}"> </td>
    </tr>
    <tr>
        <td>Ingredient cost in €:</td>
        <td> <input type="number"  step="0.01" th:field="*{cost}"> </td>
    </tr>
        </table>
    <button type="submit" class="btn btn-dark" >Submit</button>
    </fieldset>
</form>

</div>
</div>

</body>
</html>