<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details form</title>
</head>
<body>
<h1>Order details</h1>
<form th:object="${order}" th:action="@{'/orders/' +${order.id}+ '/details'}" method="post">
    <table>

        <tr>
            <td>id</td>
            <td th:text="*{id}"></td>
               <input type="hidden"  th:field="*{id}"/>

        </tr>
        <tr>
            <td>description</td>
            <td> <input type="text"  th:field="*{description}"/>  </td>
        </tr>


            <input type="hidden" th:field="${order.finishedTime}"/>


        <tr>
            <td>user</td>
            <td th:text="*{user}"></td>
            <input type="hidden"  th:field="*{user}"/>
        </tr>
        <tr>
            <td>payed</td>
            <td>   <input type="text"  th:field="*{payed}"/> </td>
        </tr>
        <tr>
            <td>status</td>
            <td>
                <select  name="status.id">
                    <option th:each="status: ${statuses}"
                            th:value="${status.id}"
                            th:text="${status.name}"
                            th:selected="${status.id.equals(order.status.id)}">
                        status
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>city</td>
            <td>  <input type="text"  th:field="*{city}"/>  </td>
        </tr>
        <tr>
             <td>street</td>
             <td>   <input type="text"  th:field="*{street}"/> </td>
        </tr>
        <tr>
            <td>house nr</td>
            <td>    <input type="number"  th:field="*{houseNr}"/>  </td>
        </tr>
        <tr>
            <td>apartment</td>
            <td>     <input type="number"  th:field="*{apartment}"/>  </td>
        </tr>
        <tr>
            <td>payment kinds</td>
            <td>
                <select  name="paymentKind.id">
                    <option th:each="paymentKind: ${paymentKinds}"
                            th:value="${paymentKind.id}"
                            th:text="${paymentKind.name}"
                            th:selected="${paymentKind.id.equals(order.paymentKind.id)}">
                        Payment Kind
                    </option>
                </select>
            </td>
        </tr>
    <tr>
        <td>telephone</td>
        <td>  <input type="text"  th:field="*{telephone}"/> </td>
    </tr>
        <tr>
            <td>created Date</td>
            <td th:text="*{createdDate}"></td>
              <input type="hidden" th:field="${order.createdDate}"/>
        </tr>
        <tr>
            <td>created By</td>
            <td th:text="*{createdBy}"></td>
             <input type="hidden" th:field="${order.createdBy}"/>
        </tr>
        <tr>
            <td>last modified date</td>
            <td th:text="*{lastModifiedDate}"></td>
            <input type="hidden" th:field="${order.lastModifiedDate}"/>
        </tr>
        <tr>
            <td>last modified by</td>
            <td th:text="*{lastModifiedBy}"></td>
            <input type="hidden" th:field="${order.lastModifiedBy}"/>
        </tr>
        <tr>
            <td>total price</td>
            <td th:text="*{totalPrice}"></td>

        </tr>
    </table>

    <button type="submit" >Submit</button>

<h2>Ordered dishes</h2>

    <table>

        <tr>
            <th>name</th>
            <th>cost</th>
            <th>amount</th>
            <th>options</th>
        </tr>
        <div th:each="orderDish: ${order.orderDishes}">
            <tr>
                <td> <h4 th:text="${orderDish.dish.name}+' '+(  (${orderDish.dish.size} <= 1)? 'Small' : 'Big' )"></h4> </td>
                <td th:text="${orderDish.totalPrice}"></td>
                <td th:text="${orderDish.quantity}"></td>
                <td>
        <span>
            <a href="#" th:href="@{'/orders/' +${order.id}+ '/details/orderDish/'+${orderDish.id}+'/delete'}">Delete</a>
            <a href="#" th:href="@{'/orders/' +${order.id}+ '/details/orderDish/'+${orderDish.id}+'/update'}">Update</a>
        </span>
                </td>
            </tr>

            <tr>
                <th>name</th>
                <th>quantity</th>
            </tr>
            <tr th:each="orderIngredient : ${orderDish.getOrderIngredients()}" >
                <td th:text="${orderIngredient.ingredient.name}"></td>
                <td th:text="${orderIngredient.quantity}"></td>
                <td>
                <span>
                    <a href="#" th:href="@{'/orders/' +${order.id}+ '/details/orderDish/'+${orderDish.id}+'/orderIngredient/'+${orderIngredient.id}+'/delete'}">Delete</a>
                    <a  href="#" th:href="@{'/orders/' +${order.id}+ '/details/orderDish/'+${orderDish.id}+'/orderIngredient/'+${orderIngredient.id}+'/update'}">Update</a>
                </span>
                </td>
            </tr>

        </div>
    </table>





</form>


</body>
</html>