<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dish list</title>
</head>
<body>
<a href="#" th:href="@{ '/logged'}">logIn</a>

<form  th:action="@{ '/logout'}" method="post">
    <button type="submit" >Logout</button>
</form>
<h1>Dish list</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Only dough price!</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="dish: ${dishes}">
        <td th:text="${dish.id}"></td>
        <td th:text="${dish.name}+' '+(  (${dish.size} <= 1)? 'Small' : 'Big' )"></td>
        <td th:text="${dish.description}"></td>
        <td th:text="${dish.cost}"></td>
        <td><a href="#" th:href="@{ '/orders/dishes/'+${dish.id}+'/new'}">Add to cart</a></td>




    </tr>
    </tbody>


</table>
<td><a href="#" th:href="@{ '/orders/summary'}">Shopping bag</a></td>

</body>
</html>