<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Order details</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/dishAndIngredients.css}" />
</head>
<body>

<nav class="navbar navbar-expand-lg  shadow-sm p-3 mb-5  rounded">
    <div class="background container">
        <ul class="navbar-nav mr-auto">
            <div sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a  class="btn btn-outline-success" href="#" th:href="@{ '/logged'}">logIn</a>
                </li>
            </div>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <form  th:action="@{ '/logout'}" method="post">
                        <button type="submit" class="btn btn-outline-warning">Logout</button>
                    </form>
                </li>
            </div>
            <li class="background nav-item  ml-5">
                <a class="btn btn-info" href="#" th:href="@{ '/orders/summary'}">Shopping bag</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
<h2 class="font-weight-normal" >Name:</h2>
<h3 class="font-weight-normal" th:text="${dish.name}+' '+(  (${dish.size} <= 1)? 'Small' : 'Big' )"> </h3>
<form th:object="${dish}" th:action="@{'/orders/dishes/'+${dish.id}+'/new'}" method="post">

    <input type="hidden"  th:field="*{id}"/>

    <input type="hidden"  th:field="*{name}"/>

    <input type="hidden"  th:field="*{cost}"/>

    <input type="hidden"  th:field="*{size}"/>

    <input type="hidden"  th:field="*{description}"/>

    <label class="font-weight-normal" >Quantity of dishes</label>
    <input type="number" step="0.01" th:field="*{quantity}"/>
    <span  th:if="${#fields.hasErrors('quantity')}">
        <ul>
            <li th:each="error: ${#fields.errors('quantity')}" th:text="${error}"/>
        </ul>
    </span>

    <h3 class="font-weight-normal">Ingredients:</h3>
    <table  class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">cost</th>
            <th scope="col">quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ingredient,stat: ${dish.ingredientCommands}">
            <td th:text="${ingredient.id}"></td>
            <input type="hidden"  th:field="*{ingredientCommands[__${stat.index}__].id}"/>
            <td th:text="${ingredient.name}"></td>
            <input type="hidden"  th:field="*{ingredientCommands[__${stat.index}__].name}"/>
            <td th:text="${ingredient.cost}"></td>
            <input type="hidden"  th:field="*{ingredientCommands[__${stat.index}__].cost}"/>

           <td> <input type="number"  th:field="*{ingredientCommands[__${stat.index}__].quantity}"/>
               <span  th:if="${#fields.hasErrors('ingredientCommands[__${stat.index}__].quantity')}">
                   <ul>
                       <li th:each="error: ${#fields.errors('ingredientCommands[__${stat.index}__].quantity')}" th:text="${error}"/>
                  </ul>
               </span>
           </td>
        </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-success" >Submit</button>
</form>
</div>
</body>
</html>