<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All orders</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

</head>
<body>


<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">payed</th>
            <th scope="col">status</th>
            <th scope="col">created Date</th>
            <th scope="col">created By</th>
            <th scope="col">last modified date</th>
            <th scope="col">last modified by</th>
            <th scope="col">details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.payed}"></td>
            <td th:text="${order.status.name}"></td>
            <td th:text="${order.createdDate}"></td>
            <td th:text="${order.createdBy}"></td>
            <td th:text="${order.lastModifiedDate}"></td>
            <td th:text="${order.lastModifiedBy}"></td>
            <td><a href="#" th:href="@{ '/orders/'+${order.id}+'/details'}">details</a></td>
        </tr>
        </tbody>
    </table>
</div>

<h2><a class="btn btn-outline-success" href="#" th:href="@{ '/dish/new'}">Add new Dish</a> </h2>

<h2 class="font-weight-light">To edit dishes write /dish/{id}/update</h2>
<h2 class="font-weight-light">Ingredients list /ingredients</h2>
</body>
</html>