<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Update orderDish Form</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/dishAndIngredients.css}" />
</head>
<body>


<nav class="navbar navbar-expand-lg  shadow-sm p-3 mb-5 rounded">
    <div class="background container">
        <ul class="navbar-nav mr-auto">
            <div sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a  class="btn btn-outline-success" href="#" th:href="@{ '/logged'}">logIn</a>
                </li>
            </div>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <form  th:action="@{ '/logout'}" method="post">
                        <button type="submit" class="btn btn-outline-warning">Logout</button>
                    </form>
                </li>
            </div>
            <li class="nav-item ml-5">
                <a class="btn btn-info" href="#" th:href="@{ '/orders/summary'}">Shopping bag</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
<h2>Name:</h2>
<p th:text="${orderDish.dish.name}+' '+(  (${orderDish.dish.size} <= 1)? 'Small' : 'Big' )"> </p>
<form th:object="${orderDish}" th:action="@{'/orders/orderDish/'+${orderDish.id}+'/update'}" method="post">

    <input type="hidden"  th:field="*{id}"/>


    <input type="hidden"  th:field="*{dish.id}"/>

    <input type="hidden"  th:field="*{dish.name}"/>

    <input type="hidden"  th:field="*{dish.cost}"/>

    <input type="hidden"  th:field="*{dish.size}"/>

    <input type="hidden"  th:field="*{dish.description}"/>

    <input type="hidden"  th:field="*{dish.type.id}"/>
    <input type="hidden"  th:field="*{dish.type.name}"/>

    <label >Quantity of dishes</label>
    <input type="number" step="0.01" th:field="*{dish.quantity}"/>
    <span  th:if="${#fields.hasErrors('quantity')}">
        <ul>
            <li th:each="error: ${#fields.errors('quantity')}" th:text="${error}"/>
        </ul>
    </span>
    <div th:if="${orderDish.dish.type.id!=2}">
    <p>Ingredients:</p>
    <table  class="table table-striped">
        <thead>
        <tr>
            <th  scope="col">Id</th>
            <th  scope="col">Name</th>
            <th  scope="col">Cost</th>
            <th  scope="col">Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ingredient,stat: ${orderDish.dish.ingredientCommands}">
            <td th:text="${ingredient.id}"></td>
            <input type="hidden"  th:field="*{dish.ingredientCommands[__${stat.index}__].id}"/>
            <td th:text="${ingredient.name}"></td>
            <input type="hidden"  th:field="*{dish.ingredientCommands[__${stat.index}__].name}"/>
            <td th:text="${ingredient.cost}+' €'"></td>
            <input type="hidden"  th:field="*{dish.ingredientCommands[__${stat.index}__].cost}"/>

            <td> <input type="number"  th:field="*{dish.ingredientCommands[__${stat.index}__].quantity}"/>
                <span  th:if="${#fields.hasErrors('dish.ingredientCommands[__${stat.index}__].quantity')}">
                   <ul>
                       <li th:each="error: ${#fields.errors('dish.ingredientCommands[__${stat.index}__].quantity')}" th:text="${error}"/>
                  </ul>
               </span>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <button  class="btn btn-outline-success"  type="submit" >Submit</button>
</form>
</div>
</body>
</html>