<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New order Ingredient Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</head>
<body>


<h1>New order Ingredient Form</h1>
<div>
    <form th:object="${orderIngredient}" th:action="@{'/orders/' +${orderId}+ '/details/orderDish/'+${orderDishId}+'/orderIngredient/'+${orderIngredient.id}+'/update'}" method="post">
        <fieldset>
            <legend>Order ingredient:</legend>


            <input type="hidden" th:field="*{id}"/>
            <table>
                <tr>
                    <td>Order ingredient cost:</td>
                    <td> <input type="text" th:field="*{ingredientDishOrderCost}"> </td>
                </tr>
                <tr>
                    <td>Order ingredient quantity:</td>
                    <td> <input type="number"  step="0.01" th:field="*{quantity}"> </td>
                </tr>

                <tr>
                    <td>Ingredient name:</td>
                    <td th:text="${orderIngredient.ingredient.name}"> </td>
                    <td>  <input type="hidden" th:field="${orderIngredient.ingredient.name}"/> </td>
                </tr>

            <input type="hidden" th:field="${orderIngredient.ingredient.id}"/>

            <input type="hidden" th:field="${orderIngredient.ingredient.quantity}"/>


            <input type="hidden" th:field="${orderIngredient.ingredient.cost}"/>

                <input type="hidden" th:field="${orderIngredient.createdBy}"/>

                <input type="hidden" th:field="${orderIngredient.lastModifiedDate}"/>

                <input type="hidden" th:field="${orderIngredient.lastModifiedBy}"/>
       </table>
            <button class="btn btn-outline-success" type="submit" >Submit</button>
        </fieldset>
    </form>

</div>

</body>
</html>