<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
</head>
<body>


<div>
    <a href="#" th:href="@{'/orders/dishes/new'}">Back to shopping</a>
</div>

<div>
    <a href="#" th:href="@{'/orders/checkout'}">Go to checkout</a>
</div>
<h1>Your shopping bag:</h1>


<table>

    <tr>
        <th>name</th>
        <th>cost</th>
        <th>amount</th>
        <th>options</th>
    </tr>
    <div th:each="orderDish: ${order.orderDishes}">
        <tr>
            <td> <h4 th:text="${orderDish.dish.name}"></h4> </td>
            <td th:text="${orderDish.totalPrice}"></td>
            <td th:text="${orderDish.quantity}"></td>
            <td>
        <span>
            <a href="#" th:href="@{ '/orders/orderDish/'+${orderDish.id}+'/delete'}">Delete</a>
            <a href="#" th:href="@{ '/orders/orderDish/'+${orderDish.id}+'/update'}">Update</a>
        </span>
            </td>
        </tr>

                           <tr>
                               <th>name</th>
                                 <th>quantity</th>
                       </tr>
                        <tr th:each="orderIngredient : ${orderDish.getOrderIngredients()}" >
                            <td th:text="${orderIngredient.ingredient.name}"></td>
                            <td th:text="${orderIngredient.quantity}"></td>
                        </tr>

                </div>
</table>


</body>
</html>