<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Policy</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg  shadow-sm p-3 mb-5  rounded">
    <div class="background container">
        <ul class="navbar-nav mr-auto">
            <div sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a  class="btn btn-outline-success" href="#" th:href="@{ '/logged'}">logIn</a>
                </li>
            </div>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <form  th:action="@{ '/logout'}" method="post">
                        <button type="submit" class="btn btn-outline-warning">Logout</button>
                    </form>
                </li>
            </div>

            <li class="background nav-item  ml-5">
                <a class="btn btn-success" href="#" th:href="@{'/orders/dishes/new'}">Back to shopping</a>
            </li>
            <li class="nav-item ml-5">
                <a class="btn btn-info" href="#" th:href="@{ '/orders/summary'}">Shopping bag</a>
            </li>
        </ul>
    </div>
</nav>

<p>


<h2> 1. Rules for data processing </h2>
Table of contents <br />
1.1 Personal data administrators. <br />
1.2 Contact. <br />
1.3 Priority of personal data protection. <br />
1.4 Contact with the Data Protection Officer? <br />
1.5. Maintenance and operation of the user account. <br />
1.6 Placing Orders. <br />
1.7 For what purpose are personal data processed? <br />
1.8 Your decisions. <br />
1.9 Links to other websites and social media <br />
1.10 Changes to our privacy policy <br />
1.11 Rights related to the processing of personal data <br />
1.12 Purpose of collecting your personal data and legal basis of the processing <br />
1.13 How do we use cookies <br />


<h2> 1.1 Personal data administrators. </h2>
The administrator of your personal data are people using the Cezary Czekalski application, people providing services related to the application. The application consists of a "website" written in Java using the Spring framework and
"KeyCloak" authentication server. Databases for the authentication server and website store different information. Authentication server stores name, surname, email, roles(authority for getting particulars resources). Application database store user address, telephone number, and order informations.

<h2>   1.2. Contact.</h2>
If you would like to contact the creator, all you have to do is write an e-mail to cezaryczekalski@gmail.com
    <h2>    1.3.  Priority of personal data protection.</h2>
Administrators attach great importance to protecting the privacy of people using the application and their personal data. When processing personal data, they make sure that it is secure.  Many of the restaurants are run by franchise holders who are independent entrepreneurs. This privacy policy does not apply to franchisees or the websites or mobile applications they offer. To learn about the rules for the use of Guest personal data by these franchisees, please read their individual privacy policies.
<h2> 1.4.  Contact with the Data Protection Officer?  </h2>

People who use this application as a party providing services, must indicate the Data Protection Inspector, with whom people may contact if they want to obtain any informations how and what personal data can be processed. They also can get  legal advice  for  purpose  regarding the use of personal data.
Protection of children's privacy
In the case of social information services (e.g. online services or mobile applications), provided children up to the age of 16, if legal basis of data processing services are accepted by the user. the child's personal data must be processed only if it complies with this expressed or confirmed by the company parental responsibility over the child and only to the extent approved by the assigned guardian.

<h2>    1.5. Maintenance and operation of the user account.</h2>
Stipulation so that party can provide services (e.g. registration on the website) or process your order
(i.e. make a contract with you and fulfill it)
providing personal data by you is necessary in many cases
In order to perform the contract regarding your participation in the application, we will process your personal data provided by you in the registration form.

If you do not provide us with your data, then unfortunately most often the services provided to you will not carried out or include orders. The legal basis for the implementation by us of the above. the data is necessary to perform the contract for the use of the user account or program and activities at your request (art.6 par.1 point b) GDPR). <br />

1. Account registration is made online by completing the registration form available on the Website in the 'signIn' button. <br />
2. The registration form contains clearly marked fields which must be completed. <br />
3. In the registration form, the User provides his personal data necessary to contact the User and to set up and maintain an Account. <br />
4. After completing and sending the registration form by the User, the Service Provider sends confirmation of registration and account creation to the e-mail address provided by the User. The account becomes active after the User clicks on the appropriately marked activation link contained in the e-mail sent by the Service Provider. <br />
5. Access to the Account is possible after providing by the User the login and password selected by him during registration. The login and password are confidential. The Service Provider informs that sharing the login and password by third parties may be a threat to privacy or other legally protected interests of the User. <br />
6. The Service Provider informs that the Account also allows the use of services related to distance ordering of food, beverages or other items available in restaurants other than provided by the Service Provider, for which the Service Provider provides the possibility of placing orders at a distance using separate websites or tools. This means that the Account is also valid as part of Separate Food Ordering Services provided by the Service Provider, and the User who created an Account via the Website on the terms set out in these Regulations need not set up an account as part of such Separate Food Ordering Services and may log in to such services by means of access data to the Account described in these Regulations. <br />
7. The User who has an active account in the Separate Food Order Service provided by the Service Provider, for the purposes of these Regulations is treated as a User who has an Account. This means that such a User may log in to the Account on the Website using their login and password established in connection with the creation of the account (registration) under the abovementioned Separate Food Ordering Service. <br />
8. Separate Food Order Services include restaurants <br />


<h2>  1.6. Placing Orders.</h2>
1. Orders are carried out in the surrounding areas of individual Restaurants.
Information about the possibility of performing the delivery to the address indicated by the User and the Restaurant performing the delivery are available on the Website and Application at the beginning of placing the Order. Checking the possibility of completing the Order by the appropriate Restaurant occurs automatically. If it is not possible to process the Order for the address entered, the User shall be notified of this fact by a message.
<br /> 2. Payment for the Order may, at the User's choice, be made on delivery - in cash, by VISA or Master Card
<br /> 3. Orders can be placed by both Users who have an Account and those who do not have an Account. In order to place an Order by a User who does not have an Account, such User should:
<br /> 4. select the Order type on the Website or Application;
<br /> 5. complete the following fields in the Order form: city, street and building number, mobile phone;
<br /> 6. select the ordered products offered by the Restaurants on the Website by selecting them, choosing the number of pieces, quantity or size of the given product and making possible modifications to the given product, if such possibility has been provided for the given product;
<br /> 7. select a payment method;
<br /> 8. Accept the Order using the order confirmation button.
<br /> 9. After completing all the steps described above, the Order is accepted for processing.
<br /> 10. The Service Provider reserves the right to confirm by phone the fact of placing an Order using the telephone number provided by the User when placing the Order or creating an Account.
<br /> 11. Orders may be placed by Users acting on behalf of other entities, including legal people and organizational units without legal personality.
<br /> 12. After submitting the Order, the User may receive a VAT invoice covering the given Order.
                    <h2>    1.7. For what purpose are personal data processed?</h2>
Website - we make sure that the website functions in accordance with its regulations and that you can also keep in touch with us.
We sell - if you make a purchase on our website; due to the fact that you provide us with your personal data, we can receive payment, provide you with goods, issue sales documents, perform additional services, settle these services (e.g. request for feedback), as well as enable you to take advantage of the warranty and warranty, as well as right of withdrawal.
We run marketing - we want to promote our products and services and present offers and promotions on our website. To make this possible, we may perform profiling, which, however, in no way affects your rights or freedoms or otherwise affects you. In addition, we will use your email address and telephone number to communicate your commercial offer.
<h2>    1.8. Your decisions.</h2>
Marketing information
If you have agreed to receive marketing information from us, you can then revoke it by selecting the opt-out option found in any such information we send. Generally, your online service profile, communication preferences, provide instructions on unsubscribing from marketing information.
Changing communication preferences may also be possible in the settings of your mobile device. You can also opt out of receiving information by contacting our Global or National Privacy Office (contact details below). If you contact the National Privacy Office, please select the office appropriate for your country.
Although you opt out of receiving marketing information from us, we may still send you communications regarding transactions, accounts set up with us, and contests, prize draws or lotteries in which you participate. Giving up one form of communication does not mean giving up other forms of communication. For example, despite opt-out of receiving marketing emails, you may still receive marketing SMSes - as long as you express your desire to receive them. Also remember that if you receive messages from a franchise restaurant, you must resign directly from the franchisee.
We do not disclose your personal data to third parties for their own marketing purposes without your consent. We will provide your personal data in the manner you specify, when we notify you and receive your consent.
Your rights
In some countries, individuals have the right to request access, amend, transfer, limit, delete and object to the processing of personal data we collect. In these countries, natural persons also have the right to withdraw their consent to the processing of personal data.


<h2>   1.9. Links to other websites and social media</h2>
Our online services may contain links to websites that are not operated by us but by third parties. If you access a page from a link, you should read the privacy policy of the website, its terms of use and other applicable policies and rules. We are not responsible for the applicable rules and practices of third parties. All information you provide to these entities is subject to their privacy policies, terms of use and other policies.
    Our online services may also contain applications, tools, control elements (widgets) and third-party plugins, such as Facebook like buttons, which can also use automated methods of obtaining information about your use of these functionalities. These entities may use information about you in accordance with their own policies and rules.
<h2>  1.10. Changes to our privacy policy</h2>
This privacy policy applies from the date given at the beginning. We may change it from time to time. In this case, we will post a revised version of the privacy policy here, updating the date indicated at the beginning as "Last update" (day of entry into force) accordingly. Keep checking back here to get the most current version of our policy.he date indicated at the beginning as "Last update" (day of entry into force) accordingly. Keep checking back here to get the most current version of our policy.
<h2>   1.11 Rights related to the processing of personal data </h2>
You have the following rights related to the processing of personal data:
    the right to withdraw consent to data processing,
    the right to access your personal data,
    the right to request the rectification of your personal data,
    the right to request the deletion of your personal data,
    the right to request the restriction of the processing of your personal data,
    the right to transfer your personal data, i.e. the right to receive your personal data from us, in a structured, commonly used, machine-readable IT format. You can send this data to another data administrator or request that we send your data to another administrator. However, we will only do this if this message is technically possible. The right to transfer personal data only applies to those data that we process under a contract with you or based on your consent.

    To exercise the above rights, please contact us or our data protection officer (contact details in points 1 and 2 above).
    The right to withdraw consent
    To the extent that your data is processed on the basis of consent - you have the right to withdraw it at any time. Withdrawal of consent does not affect the lawfulness of the processing that was carried out on the basis of your consent before its withdrawal. You can withdraw your consent by contacting us or our data protection officer (contact details in points 1 and 2 above).
    The right to lodge a complaint with an authority
    You also have the right to lodge a complaint to the supervisory body dealing with the protection of personal data, i.e. the President of the Office for Personal Data Protection.
<h2>   1.12. Purpose of collecting your personal data and legal basis of the processing </h2>

The processing of personal data will be made due to the needs of people using the web service as persons providing services, which consists in enabling the performance of the contract concluded by the restaurants with your employer / principal;
consider complaints and defend against any claims or assert any claims related to the contract - the legal basis for data processing is our legitimate interest in the possibility of defending against claims or pursuing claims.
The period of storage of your personal data
The processing of personal data will be carried out during the period of performance of the abovementioned contract, as well as for the period of limitation of claims from the contract.
Recipients of your personal data
Personal data will be transferred:
our suppliers to whom we commission services related to the processing of personal data, e.g. IT service providers, entities performing verification of contractors on our behalf, suppliers of services complementary to the subject of the abovementioned agreement. Such entities process data on the basis of a contract with us and only in accordance with our instructions.
Cookies and other monitoring technologies: Definition
A "cookie" is a text file that a website sends to a visitor's computer or other internet-connected device to identify the visitor's browser or to save information or settings in the browser. A cookie usually contains the name of the domain from which it was sent, the cookie's 'lifetime' and a randomly generated unique number or other variable.

We may use other technologies, including web beacons and JavaScript, which in some cases work together with cookies and other means with our Mobile Sites and Applications to enable identification of your device. These other technologies allow you to activate certain functions on our Sites and Mobile Applications. We may also use certain technologies to determine if you have opened / opened an e-mail message or clicked on a link in it.
                                            <h2> 1.13.  How do we use cookies </h2>
When using our online services, both we and other entities (such as our advertising networks) may obtain information about users about their use of the network, the use of the network over time and the use of third-party websites. There are various purposes for us to use cookies. For example, we monitor the total number of visitors to our Sites and using our Mobile Applications - on anonymous and aggregated basis. We may also use cookies to remember you when you visit the Sites again, to conduct contests and draws, and to personalize your experience on Restaurant Sites. In this situation, some personal data may be associated with the cookie.

    Monitoring technologies can be permanent (i.e. files remain on your computer or device until you delete them) or session (i.e. files remain only until you close your browser).
    Our Sites and Mobile Applications use in particular the following types of cookies:
    Absolutely necessary cookies. These are cookies that are necessary to provide services and ensure the availability of functionality that you explicitly ask for. We may use cookies and monitoring technologies to prevent abuse, improve security, system administration or enable you to use the payment handling function. We have no obligation to obtain your consent for cookies that are absolutely necessary.
    Cookies for analysis and performance evaluation. We may use cookies to evaluate the performance of our Mobile Sites and Applications, including as part of analytical activities to improve the quality of content offered through Mobile Sites and Applications.
    Advertising cookies. We and external advertisers may use cookies to present you with the best-tailored products, offers and ads. Advertising cookies also allow us to present content on the Sites and Mobile Applications that is tailored to you and your individual interests.
    Settings and deleting cookies
    In the settings of your web browser, you can block the receipt of cookies or set it so that each time you receive a cookie you will be informed / informed. Blocking cookies altogether may prevent you from using the portal.


</p>


</body>
</html>